.dropdown-container {
  width: 20%;
  background-color: #ffffff;
}
.toggle-button {
  font-style: italic;
  padding: 5px;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  border-radius: 20px;
  font-size: 13px;
}

select {
  margin: 0px 0px 5px 95px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  appearance: none;
  background-repeat: no-repeat;
  background-position: 5px center;
  padding: 5px 10px;
  font-size: 12px;
  background-position: left 5px center;
}

.toggle-button {
  border-radius: 5px;
}
.select-group {
  margin: 10px 0 0 70px;
  border-radius: 5px;
}

.select-order {
  margin: 0 0 0 70px;
  border-radius: 5px;
  /* align-items: left; */
}

.Group {
  padding: 0 0 0 10px;
}
.Order {
  padding: 0 0 10px 10px;
}
