/* Add this CSS to your existing styles */

/* .board */
.board {
  min-width: 270px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; /* Add some margin at the bottom */
}

/* .board_top_title */
.board_top_title {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 15px 0;
  font-size: 14px; /* Increase font size */
}

/* .board_cards */
.board_cards {
  background-color: #f0efef;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 10px; /* Add padding to the cards */
}

/* .userinitials */
.userinitials {
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px; /* Adjust line-height */
  text-align: center;
  font-size: 10px;
  background-color: rgb(244, 244, 244);
  border-radius: 50%;
  color: black;
  margin-right: 10px;
}

/* Responsive styles */
@media (max-width: 800px) {
  /* Adjust styles for smaller screens */
  .board {
    min-width: auto;
    flex: 1; /* Allow boards to take full width */
    margin-right: 10px; /* Add margin to separate boards */
    margin-bottom: 20px;
  }

  .board_top_title {
    font-size: 12px;
  }

  .board_cards {
    padding: 5px;
  }

  .userinitials {
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 8px;
    margin-right: 5px;
  }
}
